.wm-editable-drop {
	position: relative;
	.wm-drop-input{}
	.wm-drop-list{
		position: absolute;
		z-index: 100;
		top: 100%;
		left: 0;
		right: 0;
		max-height: 220px;
		border: 1px solid #d7dde4;
		border-radius: 4px;
		background: #fff;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

.wm-drop-option{
    margin: 0;
    line-height: normal;
    padding: 7px 16px;
    clear: both;
    color: #495060;
    font-size: 12px!important;
    white-space: nowrap;
    list-style: none;
    cursor: pointer;
    transition: background .2s ease-in-out;
    &:hover{
		background: #f3f3f3;
    }
    &.wm-drop-option-selected{
    	color: #fff;
    	background: rgba(45,140,240,.9);
    }
}