.help-container{
    width: 960px;
    margin-left: auto;
    margin-right: auto;

}

.help{
    h1,h2,h3,h4,h5,h6,p{
        margin-bottom: 10px
    }
    .text-primary > a,
    a.text-primary{
        &:hover{
            text-decoration: underline;
        }
    }
}