@import './_iview-varibale.scss';


// layout 
$layout-header-height: 50px;
$layout-menu-width: 200px;


$min-screen-width: 1366px;
$min-screen-height: 500px;

$background-gray-default: $table-thead-bg;
$layout-content-background: $background-gray-default;

$border-color: #e6e6e6;
$border-default-color: $border-color;
