
@font-face {font-family: "wm-icon";
  src: url('iconfont.eot?t=1502002488057'); /* IE9*/
  src: url('iconfont.eot?t=1502002488057#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1502002488057') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1502002488057') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1502002488057#wm-icon') format('svg'); /* iOS 4.1- */
}

.wm-icon {
  font-family:"wm-icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wm-icon-download:before { content: "\e631"; }

.wm-icon-close:before { content: "\e600"; }

.wm-icon-circle-circle:before { content: "\e601"; }

.wm-icon-circle-fill:before { content: "\e602"; }

.wm-icon-uncheck:before { content: "\e603"; }

.wm-icon-ok:before { content: "\e604"; }

.wm-icon-plus:before { content: "\e605"; }

.wm-icon-print:before { content: "\e606"; }

.wm-icon-close-fill:before { content: "\e607"; }

.wm-icon-menu-train-number:before { content: "\e608"; }

.wm-icon-menu-train-number2:before { content: "\e609"; }

.wm-icon-menu-billing:before { content: "\e60a"; }

.wm-icon-menu-order:before { content: "\e60b"; }

.wm-icon-menu-receipt:before { content: "\e60c"; }

.wm-icon-menu-chart:before { content: "\e60d"; }

.wm-icon-menu-system:before { content: "\e60e"; }

.wm-icon-menu-bill:before { content: "\e60f"; }

.wm-icon-menu-home:before { content: "\e610"; }

.wm-icon-menu-car:before { content: "\e611"; }

.wm-icon-msg:before { content: "\e612"; }

.wm-icon-setting:before { content: "\e613"; }

.wm-icon-checked:before { content: "\e614"; }

.wm-icon-arrow-up:before { content: "\e615"; }

.wm-icon-arrow-down:before { content: "\e616"; }

.wm-icon-search:before { content: "\e617"; }

.wm-icon-menu-more:before { content: "\e618"; }

.wm-icon-edit:before { content: "\e619"; }

.wm-icon-save:before { content: "\e61a"; }

.wm-icon-doc-simple:before { content: "\e61b"; }

.wm-icon-shield:before { content: "\e61c"; }

.wm-icon-arrow-up-simple:before { content: "\e61d"; }

.wm-icon-calendar:before { content: "\e61e"; }

.wm-icon-speech:before { content: "\e61f"; }

.wm-icon-direction:before { content: "\e620"; }

.wm-icon-target:before { content: "\e621"; }

.wm-icon-setting-simple:before { content: "\e622"; }

.wm-icon-umbrella:before { content: "\e623"; }

.wm-icon-arrow-left-simple:before { content: "\e624"; }

.wm-icon-logout:before { content: "\e848"; }

